<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>New Hangman Game</title>
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <h2>New Hangman Game for {{ game.getPlayer }}</h2>

        <img src="/images/hangman1.jpg" alt="">

        <br>
        <form action="/hangmanInGame" method="post">
          <label for="guess">Guess a letter:</label>
          <input type="text" name="guess" maxlength="1" pattern="[A-Za-z]{1}" size="2" required autofocus>

          <button type="submit" class="btn btn-sm btn-primary">Submit Letter</button>
        </form>

        <br>


      </div>  <!-- .col-md-3 -->
    </div>  <!-- .row -->

    <div class='row'>
        <div class='col-md-3'>
            <hr>


        </div>
    </div>  <!-- .row -->
  </div>  <!-- .container -->


  <!-- <script src=" go get bootstrap js"></script> -->
</body>
</html>
